<% provide(:title, 'About') %>
<h1>About</h1>
<p>
<h1>Social Network by R1cro</h1>
<p>
  This is the 'about' page for the <a href="https://github.com/R1cro/SocialNetwork/">my web-application.</a>
</p>
</p>