<% provide(:title, 'Home') %>
<% if logged_in? %>
    <h1>News feed</h1>
<% else %>
  <div class="center jumbotron">
    <h1>Social Network by R1cro</h1>
    <h2>
      This is the home page for the <a href="https://github.com/R1cro/SocialNetwork/">my web-application.</a>
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>



