<h1>Post liked by: </h1>
<div class="users">
  <%= render @users %>
</div>
<div id="scrolling">
  <div id="loading"><img src="/ajax-loader.gif" alt="Loading..."></div>
  <%= will_paginate @users %>
</div>
