<% provide(:title, 'All users') %>
<h1>All users</h1>
  <ol class="users">
    <%= render @users.sort { |a,b| a.email.downcase <=> b.email.downcase } %>
  </ol>
  <div id="scrolling">
    <div id="loading"><img src="/ajax-loader.gif" alt="Loading..."></div>
    <%= will_paginate  @users %>
  </div>
