<h1>Liked by <%= @user.user_profile.first_name %></h1>
<ol class="microposts">
  <%= render @liked_posts %>
</ol>
<div id="scrolling">
  <div id="loading"><img src="/ajax-loader.gif" alt="Loading..."></div>
  <%= will_paginate @liked_posts %>
</div>
