<% provide(:title, @user.email) %>
<div class="row">
  <aside>
    <section>
      <%= gravatar_for @user %>
      <h1>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
  <article>
  </article>
</div>
