<div class='input-group birthday-field date datepicker'>
  <%= object.text_field :birthday, class: 'form-control' %>
  <span class="input-group-addon">
    <span class="fa fa-calendar"></span>
  </span>
</div>