<% @user ||= current_user %>
<a class="following-link" href="<%= following_user_path(@user) %>">
  <strong id="following">
    Following <span class="badge"><%= @user.following.count %></span>
  </strong>
</a>
<a class="followers-link" href="<%= followers_user_path(@user) %>">
  <strong id="followers">
    Followers <span class="badge"><%= @user.followers.count %></span>
  </strong>
</a>