<% @user ||= current_user %>
<div class="relationship">
  <a  class="following-link" href="<%= following_user_path(@user) %>">
    <strong id="following">
      <%= @user.following.count %>
    </strong>
    Following
  </a>
  <a class="followers-link" href="<%= followers_user_path(@user) %>">
    <strong id="followers">
      <%= @user.followers.count %>
    </strong>
    Followers
  </a>
</div>