<% unless current_user?(@user) %>
  <div id="like-form">
    <% if micropost.liked_by?(current_user) %>
      <%= render partial: 'microposts/unlike', locals: { micropost: micropost } %>
    <% else %>
      <%= render  partial: 'microposts/like', locals: { micropost: micropost } %>
    <% end %>
  </div>
<% end %>
