<div id="likes-form-<%= micropost.id %>">
  <% if logged_in? %>
    <% if micropost.liked_by?(current_user) %>
      <%= render 'microposts/unlike', micropost: micropost  %>
    <% else %>
      <%= render 'microposts/like', micropost: micropost %>
    <% end %>
  <% end %>
</div>
