<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 70), micropost.user %>
    <h4><%= link_to micropost.user.email, micropost.user %></h4>
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">

    </span>
</li>