<% if logged_in? %>
  <div id="liker-avatars-<%= micropost.id %>">
    <% micropost.likes.last(7).reverse.each do |like| %>
      <%= link_to avatar_for(like.user, 40), like.user, id: "user-avatar-#{like.user.id}" %>
    <% end %>
  </div>
<% end %>
