// Place all the styles related to the LandingPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Lato|Roboto:400,600|Oswald:400,700|Merriweather:400,300;);

//Debug
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

body {
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
}

p.p-center {
  text-align: center;
}

a {
  color: darken(#e7e7e7, 70%);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.main-title {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 10px;
  text-align: center;
}
.nav {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: 0.5px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

footer {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  margin-top: 10px;
  padding-top: 3px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 5px 0;
    margin-top: 10px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 2;
    }
    h1 {
      font-size: 1.6em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      padding-top: 20px;
      text-align: inherit;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 15px;
}

.gravatar_edit {
  margin-top: 15px;
}

.alert {
  text-align: center;
}

#show_row.row {
  font-family: 'Oswald', sans-serif;
  color: darken(#e7e7e7, 40%);
  font-size: 0.9em;
  text-transform: uppercase;
}

.btn {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

#error_explanation {
  color: red;
  ul {
    font-family: 'Oswald', sans-serif;
    color: lightcoral;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    font-family: 'Oswald', sans-serif;
    color: $state-danger-text;
  }
}

#new-user {
  margin-top: 10px;
  font-size: small;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.dropdown-toggle {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.dropdown-menu li {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
 .remember-me {
    margin-left: 20px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.password-field {
  width: 40%;
  float: right;
}

.avatar-field {
  width: 40%;
  padding-bottom: 50px;
  vertical-align: middle;
}

.forgot-password {
  float: right;
  padding-right: 10px;
  font-size: 0.8em;
  text-decoration: underline;
}

.users {
  list-style: none;
  li {
    overflow: auto;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    &:last-child {
      border-bottom: 1px solid #e7e7e7;
    }
  }
}

.user-delete {
  text-align: right;
  text-transform: uppercase;
}

.image {
  padding-top: 1px;
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 10em;
    padding-top: 0;
  }
  .content {
    font-size: 1.1em;
    display: block;
    margin-left: 100px;
    padding-bottom: 5px;
  }

  .post-image {
    margin-left: 100px;
    display: block;
    padding: 5px 0;
  }

  .timestamp {
    color: darken(#e7e7e7, 20%);
    display: block;
    margin-left: 90px;
    padding: 10px;
  }
  .gravatar {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 0px;
  input {
    border: 0;
  }
}

.user-form {
  padding: 0 10px;
}

.user-details {
  padding-bottom: 10px;
}

.posting-form {
  padding-top: 30px;
}

.empty-zone {
  padding: 20px 0;
  h4 {
    text-align: center;
  }
}

.sign-up-form {
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}

.relationship {
  font-size: 1.1em;
  padding: 20px 0;
  font-family: 'Lato', sans-serif;
  margin-left: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
  a {
    float: left;
    width: 40%;
    margin: auto;
    border-left: 2px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #cc8800;
    }
    strong {
      display: block;
    }
  }
}

.followers-link {
  text-align: right;
}

.following-link {
  text-align: left;
}

.follower-section {
 padding: 0;
 margin: 0;
}

.user-avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 2px 2px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

#follow_form {
  float: right;
  width: 10%;
  min-width: 100px;
  padding-top: 40px;
}
.to-user-profile {
  margin-top: 5px;
}

.user-info-feed {
  padding-bottom: 20px;
}

.feed-for-guest ol {
  overflow: hidden;
  position: relative;
}

.feed-for-guest ol:after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, white);
}