// Place all the styles related to the LandingPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Lato|Roboto:400,600|Oswald:400,700|Merriweather:400,300;);

//Debug
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

body {
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
  min-width: 660px;
  width: auto !important;
}

p.p-center {
  text-align: center;
}

a {
  color: darken(#e7e7e7, 60%);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color;
  transition-property: color;
}

a:hover, a:focus, a:active {
  color: darken(#639eca, 10%);
  text-decoration: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.main-title {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 10px;
  text-align: center;
}

.nav {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: darken(#639eca, 10%);
  font-weight: bold;
  font-size: 2.3em;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h5 {
  color: gray;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: 0.5px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

footer {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  margin-top: 10px;
  padding-top: 3px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: darken(#639eca, 10%);
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  rows: 1;
}

input {
  height: auto !important;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 5px 0;
    margin-top: 15px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 2;
    }
    h1 {
      font-size: 1.6em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      padding-top: 20px;
      text-align: inherit;
    }
  }
}

#show_row.row {
  font-family: 'Oswald', sans-serif;
  color: darken(#e7e7e7, 40%);
  font-size: 0.9em;
  text-transform: uppercase;
}

.btn {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

#error_explanation {
  color: red;
  ul {
    font-family: 'Oswald', sans-serif;
    color: lightcoral;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    font-family: 'Oswald', sans-serif;
    color: $state-danger-text;
  }
}

.alert {
  text-align: center;
}

.dropdown-toggle {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.dropdown-menu li {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
 .remember-me {
    margin-left: 20px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 0px;
  input {
    border: 0;
  }
}

.empty-zone {
  text-align: center;
  h1 {
    padding: 0;
    color: darken(#b3e0ff, 45%);
  }
}

.feed-for-guest ol {
  overflow: hidden;
  position: relative;
}

.feed-for-guest ol:after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, white);
}

.tag-cloud-panel {
  ol {
    list-style: none;;
    padding: 0;
    li {
      padding: 3px 0;
      text-decoration: none;
    }
  }
}

.panel-body {
  padding: 10px 20px;
}

.panel {
  margin-bottom: 15px;
}

.main-panel {
  margin: 0;
}

.pagination {
  margin: 10px 0;
}

#loading {
  display: none;
  margin: auto;
  width: 200px;
  img {
    width: 200px;
  }
}
