// Place all the styles related to the Like controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-panel {
  padding-top: 15px;
  margin-left: 115px;
  #likes-form {
    float: left;
    padding-right: 5px;
  }
  #likes {
    padding-top: 2px;
  }
}
