// Place all the styles related to the Like controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-panel {
  padding-top: 15px;
  margin-left: 115px;
  div[id|="likes-form"] {
    float: left;
    padding-right: 1px;
    button {
      border: none;
      background: none;
      .fa.fa-heart {
        color: darken(#639eca, 10%);
      }
    }
    button:focus {
      outline: none;
    }
  }

  .liked a {
    text-decoration: none;
    color: white;
  }
}

.badge.liked {
  background: linear-gradient(rgba(40, 84, 118, 0.5), rgba(99, 158, 202, 1) );
}

.like-form {
  padding: 10px 5px;
}

div[id|="liker-avatars"] {
  margin: 0;
  padding-left: 10px;
  .avatar {
    margin: 2px 2px;
  }
  a {
    padding: 0;
  }
}



