// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 5px 0;
  }
  .user {
    margin-top: 100em;
    padding-top: 0;
  }
  .content {
    font-size: 1.1em;
    display: block;
    margin-left: 115px;
    padding-bottom: 5px;
    a {
      color: #639eca;
    }
    a:hover, a:focus, a:active {
      color: darken(#639eca, 20%);
    }
  }

  .post-owner {
    padding-left: 115px;
  }

  .timestamp {
    color: darken(#e7e7e7, 20%);
    display: block;
    margin-left: 125px;
    padding: 10px;
    a {
      color: darken(#b3e0ff, 50%);
    }
    .post-delete-link {
      color: darken(#e7e7e7, 30%);
    }
  }

  .avatar {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
  }

  .remove-post {
    float: right;
  }

}

.image {
  padding-top: 1px;
}

.post-image {
  margin-left: 100px;
  display: block;
  padding-left: 15px;
  padding-top: 5px;
  .container {
    margin-left: 0;
  }
}

button[id|="show-replies"] {
  font-family: 'Oswald', sans-serif;
  color: darken(#b3e0ff, 50%);
  width: 100%;
  border: none;
  background: none;
  outline: none;
  padding-bottom: 5px;
}

button[id|="show-replies"]:focus {
  outline: none;
}

#dropzone-upload {
  display: none;
  margin: auto;
  width: 100%;
  background: linear-gradient(rgba(40, 84, 118, 0.1), rgba(99, 158, 202, 0.4) );
}

#micropost-dropzone.dropzone {
  border: 0px;
  padding: 0px;
  min-height: 90px;

  .dz-message, .dz-success-mark, .dz-error-mark {
    display: none;
  }

  a.dz-remove {
    padding: 10px;
    font-weight: bold;
  }

  .well {
    background: linear-gradient(rgba(40, 84, 118, 0.1), rgba(99, 158, 202, 0.2) );
    border-color: rgba(0, 133, 239, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(28, 167, 239, 0.6);
    outline: 0 none;
  }

}

//#dropzone-upload {
//  display: none;
//  margin: auto;
//  width: 100%;
//  background: linear-gradient(rgba(40, 84, 118, 0.1), rgba(99, 158, 202, 0.4) );
//}
//
//#micropost-dropzone.dropzone {
//  border: 0px;
//  padding: 0px;
//  min-height: 90px;
//
//  .dz-message, .dz-success-mark, .dz-error-mark {
//    display: none;
//  }
//
//  a.dz-remove {
//    padding: 10px;
//    font-weight: bold;
//  }
//
//  .well {
//    background: linear-gradient(rgba(40, 84, 118, 0.1), rgba(99, 158, 202, 0.2) );
//    border-color: rgba(0, 133, 239, 0.8);
//    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(28, 167, 239, 0.6);
//    outline: 0 none;
//  }
//}

