// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tagged-list {
  list-style: none;
  padding: 0;
  li[id|="tagged-"] {
    padding: 5px 0;
  }
  .user {
    margin-top: 100em;
    padding-top: 0;
  }
  .tag-content {
    font-size: 1.1em;
    display: block;
    margin-left: 100px;
    padding-bottom: 5px;
    a {
      color: #639eca;
    }
    a:hover, a:focus, a:active {
      color: darken(#639eca, 20%);
    }
  }

  .tag-owner {
    padding-left: 100px;
  }

  .timestamp {
    color: darken(#e7e7e7, 20%);
    display: block;
    margin-left: 90px;
    padding: 10px;
    a {
      color: darken(#b3e0ff, 50%);
    }
  }

  .avatar {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
  }

}
